{#
/**
 * @file
 * Bootstrap Barrio's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
<div class="col-12 col-md-6" xmlns="http://www.w3.org/1999/html">
    {% set attributes = attributes.addClass('site-branding') %}
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo for-inner">
            <span class="logo"></span>
            <span class="txt">«Мастерская флориста»</span>
        </a>
        <span class="site-logo for-front">
            <span class="logo"></span>
            <span class="txt">«Мастерская флориста»</span>
        </span>
</div>
